.simple-transition{
  transition: all 500ms;
}

.expandable-card{
  z-index: 1;
  display: block;
}

.expanded-card-content{
  //transform: translateY(0%);
}

.collapse-card-content{
  transform: translateY(-100%);
}

.rotated-180{
  transform: rotate(180deg);
}

.rule-container{
  overflow-y: hidden;
  margin: 10px 0px 10px 0px;
}
