<div class="rule-container">
  <mat-card
    style="background-color: rgb(250,250,250); border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; z-index: 2">
    <app-editable-test-input matTooltip="Edit rule name" [value]="rule.description"></app-editable-test-input>

    <mat-card-actions align="end" style="padding-top: 0; margin-top: -25px;">
      <mat-slide-toggle
        style="margin-right: 10px"
        [(ngModel)]="rule.isEnabled"
        matTooltip="This rule is {{rule.isEnabled?'Enabled':'Disabled'}}"
      ></mat-slide-toggle>
      <button (click)="remove.emit(rule)" matTooltip="Delete Rule" mat-icon-button style="margin: -7px 0 0 0">
        <mat-icon>delete</mat-icon>
      </button>
      <button  mat-icon-button
               style="margin: -7px 0 0 0"
               matTooltip="{{rule.isExpanded?'Collapse':'Expand'}} the rule"
               (click)="toggleExpand()">
        <mat-icon class="simple-transition" [class.rotated-180]="!rule.isExpanded">expand_less</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card #contentCard  style="background-color: rgb(250,250,250);
  border-top-left-radius: 0;
  border-top-right-radius: 0;"
            [ngStyle]="applyCollapseCardStyle()"
            class="expandable-card simple-transition"
            [ngClass]="{'expanded-card-content': rule.isExpanded, 'collapse-card-content' : !rule.isExpanded }"
  >
    <mat-card-content
    >
      <div class="row">
        <div class="col-3">
          <mat-form-field class="example-margin" appearance="fill" [matTooltip]="'Priority'">
            <mat-label>Priority</mat-label>
            <input matInput type="number" [min]="1" [max]="200" [(ngModel)]="rule.priority">
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-button-toggle-group [(value)]="rule.filterType" [matTooltip]="'Filter Type'">
            <mat-button-toggle [value]="REGEX_FILTER">RegEx</mat-button-toggle>
            <mat-button-toggle [value]="URL_FILTER">URL</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="col-7">
          <mat-form-field appearance="fill" class="w-100" [matTooltip]="rule.filterType + ' Filter'">
            <mat-label>{{rule.filterType}} Filter</mat-label>
            <input matInput placeholder="{{rule.filterType}} Filter" [(ngModel)]="rule.filterValue">
          </mat-form-field>
        </div>
      </div>
      <hr/>

      <span class="h6">Actions&nbsp;</span>
      <button mat-fab color="primary" style="transform: scale(0.8)" [matMenuTriggerFor]="menu" matTooltip="Add actions">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [disabled]="checkRuleActionDisableStatus(EReRuleAction.BLOCK)" (click)="addRuleAction(EReRuleAction.BLOCK)">{{EReRuleAction.BLOCK.name}}</button>
        <button mat-menu-item [disabled]="checkRuleActionDisableStatus(EReRuleAction.ALLOW)" (click)="addRuleAction(EReRuleAction.ALLOW)">{{EReRuleAction.ALLOW.name}}</button>
        <button mat-menu-item [disabled]="checkRuleActionDisableStatus(EReRuleAction.ALLOW_ALL_REQUESTS)" (click)="addRuleAction(EReRuleAction.ALLOW_ALL_REQUESTS)">{{EReRuleAction.ALLOW_ALL_REQUESTS.name}}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item [disabled]="checkRuleActionDisableStatus(EReRuleAction.REDIRECT)" (click)="addRuleAction(EReRuleAction.REDIRECT)">{{EReRuleAction.REDIRECT.name}}</button>
        <button mat-menu-item [disabled]="checkRuleActionDisableStatus(EReRuleAction.UPGRADE_SCHEME)" (click)="addRuleAction(EReRuleAction.UPGRADE_SCHEME)">{{EReRuleAction.UPGRADE_SCHEME.name}}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item [disabled]="checkRuleActionDisableStatus(EReRuleAction.MODIFY_HEADERS)" (click)="addRuleAction(EReRuleAction.MODIFY_HEADERS)">{{EReRuleAction.MODIFY_HEADERS.name}}</button>
      </mat-menu>
      <div class="rule-action-container">
        <app-re-rule-action (close)="removeRuleAction($event)" [ruleAction]="ruleAction" *ngFor="let ruleAction of ruleActions"></app-re-rule-action>
      </div>
    </mat-card-content>
  </mat-card>
</div>
