<div class="container-fluid">
  <div #devPanelContainer class="dev-panel-container">
    <button matTooltip="Save rules" class="p-2 m-2" mat-raised-button color="primary"
    (click)="save()"
    >&nbsp;Save <mat-icon>save</mat-icon>&nbsp;</button>
    <button matTooltip="Reset rules" class="p-2 m-2" mat-raised-button color="warn"
    (click)="reset()"
    >&nbsp;Reset <mat-icon>lock_reset</mat-icon>&nbsp;</button>

    <button matTooltip="Save rules" (click)="expandAll()" class="p-2 m-2" mat-raised-button color="basic">&nbsp;Expand All <mat-icon>expand_less</mat-icon>&nbsp;</button>
    <button matTooltip="Save rules" (click)="collapseAll()" class="p-2 m-2" mat-raised-button color="basic">&nbsp;Collapse All <mat-icon>expand_more</mat-icon>&nbsp;</button>


    <mat-slide-toggle class="float-end p-4" [(ngModel)]="isEnabled">Enabled</mat-slide-toggle>
    <button matTooltip="Add new rule" (click)="addNewRule()" class="m-2" style="position: fixed; right: 10px; bottom: 10px;z-index: 100" mat-fab color="primary">
      <mat-icon>my_library_add</mat-icon>
    </button>
  </div>
  <hr/>
  <div class="rule-container">
    <app-re-rule [rule]="rule" (remove)="removeRule($event)" *ngFor="let rule of rules"></app-re-rule>
  </div>
</div>
